* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 一般来说设置css文件的第一步就是取消标签的默认内外边距 */

/* h1,
h2,
h3,
h4 {
  text-align: center;
} */

h1,
h2,
h3,
h4,
p,
li {
  color: #444;
}

h1,
h2,
h3 {
  color: hsl(188, 83%, 37%);
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-size: 25px;
  /* text-align:center; 属性，让文本居中对齐 */
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h3 + p::first-line {
  /* color: red; */
h2 {
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  color: black;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: 900;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: -10px;
  top: -10px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 15px;
}

#author {
  padding-bottom: 0;
  margin-left: 10px;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
  padding-bottom: 5px;
}

/* li:last-child {
  padding-bottom: 0;
} */

body {
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

nav {
  text-align: center;
}

/* nav a:link {
  background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block;
} */

nav a:link {
  margin-right: 25px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 15px;
}

footer p {
  font-size: 14px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-weight: bold;
  font-size: 18px;
}

.related {
  list-style: none;
  margin-left: 0;
}

header.main-header {
  background-color: #f7f7f7;
  padding: 20px;
}

.main-header {
  border-top: 10px solid #1098ad;
}

/* article {
  margin-bottom: 60px;
} */

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* body header {
  margin-bottom: 30px;
} */

/* body {
  background-color: aquamarine;
} */

/* 这是伪类的简单实践例子 */
/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
} */

/* odd 表示奇数 */
/* even 表示偶数 */
/* li:nth-child(odd) {
  color: red;
} */

/* 设置a标签的样式 */
a {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* 点击事件 */
a:active {
  background-color: black;
  font-style: italic;
}

button {
  padding: 20px;
  font-size: large;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* h1 {
  float: left;
}

nav {
  float: right;
}

古老的清除浮动的方式
.clear {
  clear: both;
}

/* clearfix hack */
/* .clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.author-img {
  float: left;
  margin-top: -10px;
  margin-right: 10px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

article {
  /* background-color: #ffe70e; */
/* width: 825px;
  float: left;
}

aside {
  /* background-color: greenyellow; */
/* width: 300px;
  float: right;
}

footer {
  /* background-color: bisque; */
/* clear: both;
}  */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-author {
  padding-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 3px;
}

li.related-post:last-child {
  margin-bottom: 0;
}

/* .row {
  display: flex;
  gap: 75px;
}

article {
  flex: 0 0 825px;
  margin-bottom: 0;
}

aside {
  flex-basis: 300px;
  flex-shrink: 0;
  align-self: flex-start;
} */

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1 / -1;
}

/* article {
} */

aside {
  align-self: start;
}

footer {
  grid-column: 1/-1;
  /* background-color: #1098ad; */
}
p {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
